$landerson352-button-row-gap: 0.626rem;
$landerson352-button-row-margin: 1.25rem;

@mixin landerson352-button-row($gap: $landerson352-button-row-gap, $margin: $landerson352-button-row-margin) {
  display: flex;
  flex-flow: row;
  margin-bottom: $margin;

  > * + * {
     margin-left: $gap;
   }
}
